html, body {
    height: 82.5%;
}

.mdl-layout__header {
    background-color: #990000;
}
.mdl-layout__content {
    height: 82.5%;
}

.mdl-grid {
    height: 100%;
}

.mdl-cell {
    height: 100%;
}

.mdl-card__supporting-text {
    width: auto;
}

.alert-card-wide > .mdl-card__title {
    color: #fff;
    height: 76px;
    background-color: #990000;
}

.aup-card-wide > .mdl-card__title {
    color: #fff;
    height: 76px;
    background-color: #990000;
}



.aup-card-wide {
    width: auto;
    margin-bottom: 20px;
    min-height: 150px;
    
}
 .aup-table {
    width: 100%;
}

.alert-card-wide {
    width: auto;
   
    min-height: 150px;
}



.well {
    background-color: transparent;
    border: 0px;
    padding: 0;
}

fieldset {
    padding: 5px 0 5px 0;
}

.form-horizontal .control-label {
    width: 0px;
    float: left;
    padding-top: 2px;
}

.form-horizontal .controls {
    margin-left: 25%;
}

select[multiple], select[size] {
    width: 100%;
    height: 40%;
}

.select2-container-multi .select2-choices {
    width: auto;
}

#adress {
    width: 99%;
}

.mdl-mini-footer {
    padding: 16px;
}

.alert-send-button {
    width: 100%;
}

@media (max-width: 767px) {
    body {
        padding: 0;
    }
    
    .aup-card-wide, .alert-card-wide {
        height: auto;
        max-height: none;
    }
    
    .form-horizontal .control-label {
        float: left;
        padding-top: 5px;
    }

    .form-horizontal .controls {
        margin-left: 25%;
    }

    select[multiple], select[size] {
        width: 100%;
        height: 40%;
    }

    .select2-container-multi .select2-choices {
        width: auto;
    }

    #adress {
        width: 95.5%;
    }
    
    .mdl-layout__content {
        height: 50%;
    }
}

@media (max-width: 839px) and (min-width: 480px) {
    body {
        padding: 0;
    }
    
    .aup-card-wide, .alert-card-wide {
        height: auto;
        max-height: none;
    }
    
    .form-horizontal .control-label {
        float: left;
    }

    .form-horizontal .controls {
        margin-left: 25%;
    }

    select[multiple], select[size] {
        width: 100%;
        height: 40%;
    }

    .select2-container-multi .select2-choices {
        width: auto;
    }

    #adress {
        width: 95.5%;
    }
    
    .mdl-layout__content {
        height: 50%;
    }
}
